*_BASE_*
*_BACKUP_*
*_REMOTE_*
*_LOCAL_*

*.orig
*.sln
*.TMP
*.user
*.VC.db
*.VC.opendb
*.vcxproj
*.vcxproj.filters
*.vspx

/*.build/
/*.dir/
/*.xcodeproj/

/.vs/
/.vscode/
/bin/
/build/
/CMakeFiles/
/CMakeScripts/
/Debug/
/lib/
/Release/
/RelWithDebInfo/
/x64/
/Win32/

/CMakeCache.txt
/cmake_install.cmake
/Makefile
/test.img